@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding: 0px;
  box-sizing: border-box;
  background-color: white;
  min-height: 100vh;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
} 

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* NAVBAR */

.navBar{
  position: relative;
}

#logo{
  width: 30%;
  text-align: center;
}

.topNav{
  width: 90%;
  margin: auto;
  border-bottom: 2px solid peachpuff;
  padding: 10px;
}

.socMedContainer{
  float: left;
  width: 20%;
}

.socmed{
  width: 10%;
  margin: 10px;
}

.navContainer{
  width: 90%;
  margin: auto;
  padding: 20px;
}

.linkContainer{
  width: 50%;
  /* margin: 30px auto; */
  float: left;
}

.navLink{
  float: left;
  margin: 0 10px;
  color: peru;
  text-decoration: none;
}

.navLink:hover{
  color: peru;
  text-decoration: underline;

}

.searchContainer{
  width: 40%;
  float: right;
}

#search{
  width: 70%;
  height: 3vh;
  border-radius: 15px;
  border: 1px solid peru;
  padding: 5px;
  float: left;
  color: peru;
}

#searchBtn{
  background-color: white;
  border: none;
  width: 10%;
  height: 3vh;
  float: left;
}

.logoContainer{
  width: 50%;
  float: left;
}

.loginBtnContainer{
  width: 30%;
  float: left;
}

#login{
  width: 8%;
}

/* HOME */

.homeContainer{
  width: 90%;
  padding: 20px;
  margin: auto;
  text-align: left;
}

.navHome{
  width: 15%;
  float: left;
}

.homeLinks{
  padding: 20px;
  margin: 5px;
  background-color: tomato;
}

.categoryLinks{
  color: white;
  text-decoration: none;
}

.carouselContainer{
  width: 80%;
  margin: auto;
  float: right;
  height: 80vh;
}

.carouselImg{
  width: 100%;
  height: 70vh;
}

/* RECIPE */

.recipeContainer{
  width: 90%;
  margin: 20px auto;
  padding: 50px;
}

.cardDeck{
  margin: 20px;
}